

[submodule "DyEngine/vendor/imgui"]
	path = DyEngine/vendor/imgui
	url = https://github.com/jasonaofa/imgui
	branch = docking
[submodule "DyEngine/vendor/glfw"]
	path = DyEngine/vendor/glfw
	url = https://github.com/jasonaofa/glfw
	branch = master
[submodule "DyEngine/vendor/glm"]
	path = DyEngine/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "DyEngine/vendor/spdlog"]
	path = DyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "DyEngine/vendor/yaml-cpp"]
	path = DyEngine/vendor/yaml-cpp
	url = https://github.com/jasonaofa/yaml-cpp
[submodule "DyEngine/vendor/ImGuizmo"]
	path = DyEngine/vendor/ImGuizmo
	url = https://github.com/jasonaofa/ImGuizmo
