[submodule "DyEngine/vendor/spdlog"]
	path = DyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DyEngine/vendor/glfw"]
	path = DyEngine/vendor/glfw
	url = https://github.com/jasonaofa/glfw
